header {
    background-color: yellow;
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-right: calc((100% - 900px) / 2);
}
header > *{
    display:inline-block;
}

main {
    background-color: green;
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-right: calc((100% - 900px) / 2);
}

header > img {
   height: 80px;
}

main > img {
   height: 160px;
}

nav{
    float:right;  
    margin-top: 30px;
}


#left{
    background-color: red;
}

.btn{
    color:grey;
    text-decoration:none;
    margin: 12px;
}

.signin{
    border-color: grey;
    border-style: solid;
    padding:5px 20px;
    border-radius: 15px;
}

/* .test{
    background-color: blue;
    width: 150px;
    height: 150px;
   
    padding: 25px;
} */
